/bin/**
/bin/

# eclipse project files
*.project
*.classpath

# IntelliJ project files
/.idea/**
/out/**
*.iml

# visual paradigm files
**/*.vpp.bak*
**/*.vpp.lck
/bin/

# log files
log.txt
*.log
*.lck

# Savegame
Game.json
